.first_col{
    background-color: #C9B194;
    height: 550px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px;
}
.img-fluid{
    border-radius: 20px;
}
.btn-primary{
    background-color: #A08963;
    border: #A08963;
}
.btn-primary:hover{
    background-color: black;
}
@media only screen and (max-width: 600px ) {
    .first_col{
        position: initial;
        left: 0;
    }
}